/*.form-control-input{*/
/*    border-radius: 10px;*/
/*    outline: 0;*/

/*}*/
body{
    overflow-x: hidden;
}
.form-label{
    position: relative;
    top: 0vh;
    color: white;

}

.input{
    top: 0;
    font-family: inherit;
    width: 75%;
    border: 0;
    border-bottom: 2px solid red;
    outline: 0;
    font-size: 0.1rem;
    color: red;
    padding: 7px 0;
    background: transparent;
    transition: 0.2s;
}
.form-control-input{
    top: 0;
    font-family: inherit;
    width: 10%;
    border: 0;
    border-bottom: 2px solid red;
    outline: 0;
    font-size: 0.5rem;
    color: red;
    padding: 7px 0;
    background: transparent;
    transition: 0.2s;
}
.title{
    color: #ff253a;
}
.title1{
    color: #0a53be;
}
#total-text,.unit{
    color: #0dcaf0;
}